.btn {
  display: block;
  padding: 10px;
  position: relative;
  background-color: #333;
  border: 1px solid #333;
  width: 150px;
  height: 75px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s;
  text-align: center;
  margin-bottom: 25px;
}

.btn:hover {
  background-color: white;
  color: #fff;
}

.box {
  width: 50px;
  height: 100px;
  background-color: red;
  transition: 3s;
}
.box:hover {
  width: 300px; /* vai amentar a largura em 300px */
}

/* Aqui inicia as propriedade calculo */
.pai {
  width: 500px;
  height: 250px;
  border: 1px solid red;
  background-color: #ddd;
  position: relative;
}
.calculo-div {
  height: 50px;
  /* nossa div principal tem 250 heigth,nos temos 4 div,multiplicando por 50 vai dar 200 px,melhor relação */
  margin: 10px;
  background-color: red;
  position: relative;
}

.calculo1 {
  width: calc(50% + 50px);
}
.calculo2 {
  width: calc(50% - 50px);
}
.calculo3 {
  width: calc(50% * 2);
  margin: 0px;
}
.calculo4 {
  width: calc(50% / 2);
}

/* Aqui inicia gradiente linear */

.gradiente-div {
  width: 500px;
  height: 100px;
  margin: 10px;
  position: relative;
}

.gradiente1 {
  background-image: linear-gradient(black, #ddd);
}

.gradiente2 {
  background-image: linear-gradient(to right, skyblue, darkGoldenrod);
}

.gradiente3 {
  background-image: linear-gradient(to left, darkgreen, red);
}

.gradiente4 {
  background-image: linear-gradient(to top, magenta, white);
}

.gradiente5 {
  background-image: linear-gradient(to top right, PaleTurquoise, black);
}

.gradiente6 {
  background-image: linear-gradient(#8b636c, #ee9a00, #8b2500);
}

/* Aqui inicia gradiente radial */

.gradiente-div1 {
  width: 500px;
  height: 100px;
  position: relative;
  border: 1px solid red;
  margin: 10px;
}

.gradiente7 {
  background-image: radial-gradient(darkgreen, cyan, magenta);
}

.gradiente8 {
  background-image: radial-gradient(#eeb4b4 30%, #cdaa7d 50%, sienna);
}
.gradiente9 {
  background-image: radial-gradient(circle, darkblue, cyan, yellow);
}

/* Font face */
/* Esta propriedade permite exportar font do proprio computador */

@font-face {
  font-family: "Large Grafica";
  src: url(fonts/lage_grafica.ttf); /* Cuidado com o caminho da font */
}

.fontFace {
  font-family: "Large Grafica";
}

/*Media query */

.media {
  width: 1200px;
  height: 100px;
  background-color: red;
}

@media (max-width: 1000px) {
  .media {
    width: 900px;
    background-color: blue;
  }
}

@media (max-width: 500px) {
  .media {
    width: 300px;
    background-color: #ddd;
  }
}

/* Aqui inicia o border radios */
.border-div {
  width: 100px;
  height: 50px;
  background-color: purple;
  margin: 20px;
}

.border-radios1 {
  border-radius: 50%; /* aqui vai parecer um circulo */
}
.border-radios2 {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 20px;
}
